<!--services-->
<section class="services-cont page-cont-big" id="services">
    <div class="services-cont_title page-cont-big">
      <h2>Servicios</h2>
      <p>
        Tratamos cada caso de manera personalizada, como si fuera nuestra familia. No queremos ser únicamente una agencia de colocación o una empresa de atención a domicilio. Queremos ayudaros a encontrar el mejor profesional de ayuda a domicilio para cada caso. 
        
      </p>
    </div>
    <div class="services-cont_group-cards page-cont">
      <div class="services-cont_group-cards-column-one">
        <div class="services-cont_cart">
          <div>
            <img src="./src/assets/img/services/elderly.png" alt="hogar" />
          </div>
          <div class="services-cont-cart_title">
            <h4>Cuidado a domicilio por hora</h4>
          </div>
          <div class="services-cont-cart_content">
            <p>
              Los cuidadores y cuidadoras por horas para personas mayores cubrirán el tiempo que necesitéis a lo largo de la semana y mejorarán el día a día de la persona dependiente. El horario y el servicio se adapta a las necesidades de cada familia. Todos los cuidadores cuentan con experiencia validada.
            </p>
          </div>
        </div>
        <div class="services-cont_cart">
          <div>
            <img src="./src/assets/img/services/elderly2.png" alt="hogar" />
          </div>
          <div class="services-cont-cart_title">
            <h4>Atencion personal</h4>
          </div>
          <div class="services-cont-cart_content">
            <p>El cuidador o cuidadora se encargara de atender las necesidades de la persona mayor, asi como controlar y organizar la medicación recetada, acompañamiento durante traslados y paseos, y fomentar las relaciones sociales por el bienestar de su salud mental</p>
        
          </div>
        </div>
      </div>
      <div class="services-cont_group-cards-column-two">
        <div class="services-cont_cart">
          <div>
            <img src="./src/assets/img/services/family.png" alt="hogar" />
          </div>
          <div class="services-cont-cart_title">
            <h4>Cuidado infantil</h4>
          </div>
          <div class="services-cont-cart_content">
            <p>
              Además del cuidado de los niños, las niñeras se hacen responsables de otras tareas relacionadas con los niños, como lavar la ropa, ayudar con la tareas escolares y organizar los horarios de actividades. Las tareas del hogar, como hacer recados entre otras.
            </p>
          </div>
        </div>
        <div class="services-cont_cart">
          <div>
            <img
              src="./src/assets/img/services/stick-man.png"
              alt="hogar"
            />
          </div>
          <div class="services-cont-cart_title">
            <h4>Cuidadora interna a domicilio</h4>
          </div>
          <div class="services-cont-cart_content">
            <p>
              Seleccionamos a una persona profesional y de confianza para que tu familiar cuente siempre con la mejor atención. Una persona interna estará con tu familiar de lunes a viernes, día y noche, para prestarle toda la atención que necesite. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--services-->

