*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.page-cont {
    max-width: 1200px;
    margin: auto;
  }
  
  .page-cont-big {
    background-color: #f2f2f2;
    padding: 3em 0;
  }

/* services */

.services-cont {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  .services-cont_group-cards {
    display: flex;
    max-width: 1200px;
    margin: auto;
  }
  
  .services-cont_cart {
    padding: 20px;
  }
  
  .services-cont_title {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 35px;
    font-size: 20px;
  }
  
  .services-cont_title p {
    padding: 0px 20px 0px 20px;
  }
  
  .services-cont_title h2 {
    margin-bottom: 10px;
  }
  
  .services-cont_cart img {
    width: 100px;
  }
  
  .services-cont-cart_title h3 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .services-cont-cart_content p {
    text-align: justify;
    padding-right: 38px;
  }

  
/*responsive*/

@media screen and (max-width: 900px) {
  .services-cont_cart h4 {
  text-align: center;
}

.services-cont_title {
  width: 80%;
  margin: auto;
  font-size: 16px;
}
 

  .services-cont_cart {
    margin-top: 30px;
  }
  .services-cont_group-cards {
    flex-direction: column;
  }
  .services-cont_cart h3 {
    text-align: center;
  }
  
  .services-cont_cart img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .services-cont-cart_content p {
    padding-right: 0px;
  }

  .services-cont-cart_content p {
    padding-right: 30px;
    padding-left: 30px;
  }

  
}

