<section class="forget-cont">
    <div>
        <div class="card-forget">
            <div>
                <h1>Recuperar contraseña</h1>
                <span class="message-error">{{ emptyForm }}</span>
                <form class="form-password" [formGroup]="forgetForm">
                    <input type="text" formControlName="emailUser" [(ngModel)]="emailUser" placeholder="Correo electrónico*"/>
                    <div *ngIf="submitted && message.emailUser.errors" class="message-error">
                        <div *ngIf="message.emailUser.errors.required">El correo electrónico es obligatorio</div>
                        <div *ngIf="message.emailUser.errors.email">El correo electrónico debe ser válido</div>
                    </div>
                    <input type="password" formControlName="passwordUser" [(ngModel)]="passwordUser" placeholder="Nueva contraseña*"/>
                    <div *ngIf="submitted && message.passwordUser.errors" class="message-error">
                        <div *ngIf="message.passwordUser.errors.required">La contraseña es obligatorio</div>
                        <div *ngIf="message.passwordUser.errors.minlength">La contraseña debería tener como mínimo 6 caracteres</div>
                    </div>
                    <button type="button" class="button color-blue-one" (click)="save()">Recuperar</button>
                </form>
            </div>
        </div>
    </div>
</section>