* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

.user-page-cont{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    background-color: #f2f2f2;
}

.user-page-cont.nouser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-page-cont.nouser img{
    height: 600px;
}
.user-page-cont.nouser section{
    margin-top: -4em;
    text-align: center;
}

.user-page-cont section p{
    font-size: 20px;
    font-weight: 400;
}

.user-page-cont section p a{
    color: #049bb3;
    font-weight: 600;
}
.user-page-cont section p a:hover{
    color: #0a8391;
  
}

.user-page-left{
    height: 100%;
    background-color: #1075a9;
    /* background-color: #00a5b5; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-menu-top{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.user-page-right{
    height: 100%;
    background-color: #f2f2f2;
    padding-top: 5em;
}

.menu-user-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 2em;
    border-bottom:2px solid #2788B2;
    width: 100%;
    margin-bottom: 2em;
}

.menu-user-header h4{
    color: #fff;
    margin: 0.8em 0;
}
.menu-user-header img{
    width: 150px;
    border-radius: 50%;
    
}

.menu-user-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-user-options button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 45px;
}

.menu-user-options button:hover{
    background-color: #2788B2;
 
}

.user-intro, .workinprogress{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.workinprogress h1{
    width: 80%;
    margin:4em auto;
    text-align: center;
    margin-bottom: -2em;
    color: #002D5D;
}

.user-intro h1{
    font-size: 45px;
    color: #002D5D;
   
    width: 80%;
    text-align: center;
    margin: 0.5em auto ;
}
.user-intro h2{
    font-size: 30px;
    width: 80%;
    text-align: center;
    margin: 0.5em auto 0 auto;
}

.user-menu-bottom{
    width: 100%;
}
.user-menu-bottom button{
    width: 100%;
    background-color: #2788B2;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 65px;
}

.user-menu-bottom button:hover{
    background-color: #2892c0;
}

.user-profile{
    height: 100%;
}

/*responsive*/
@media screen and (max-width: 900px) {
    .user-page-cont.nouser{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .user-page-cont.nouser img{
        height: auto;
        width: 80%;
    }
    .user-page-cont section{
        margin-top: 0.5em;
        width: 80%;
    }
    
    .user-page-cont section p{
        font-size: 16px;
    }
    
}