* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/**/

.uppercase{
  text-transform: capitalize;
}


.change-profile-img {
  margin-bottom: 0.5em;
  position: relative;
  display: inline-block;
}

.change-profile-img i {
  color: #fff;
  position: absolute;
  bottom: -0.5em;
  left: -0.5em;
  font-size: 48px;
}

.change-profile-img input {
  margin: 0;
  display: none;
}

.change-profile-img label {
  cursor: pointer;
}
.change-profile-img label:hover + i {
  color: #7be9fa;
}

/**/

.user-page-cont {
  padding: 4em 0;
  width: 100%;
  display: grid;
  grid-template-columns: 250px auto;
  background-color: #f2f2f2;
}

.user-page-cont.nouser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-page-cont.nouser img {
  height: 600px;
}
.user-page-cont.nouser section {
  margin-top: -4em;
  text-align: center;
}

.user-page-cont section p {
  font-size: 20px;
  font-weight: 400;
}

.user-page-cont section p a {
  color: #049bb3;
  font-weight: 600;
}
.user-page-cont section p a:hover {
  color: #0a8391;
}

.user-page-left {
  height: calc(100% + 4em);
  background-color: #1075a9;
  /* background-color: #00a5b5; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-menu-top {
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-page-right {
  height: 100%;
  background-color: #f2f2f2;
  padding-top: 5em;
}

.menu-user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 2em;
  border-bottom: 2px solid #2788b2;
  width: 100%;
  margin-bottom: 1em;
}

.menu-user-header h4 {
  color: #fff;
  margin: 0.8em 0;
}
.menu-user-header img {
  width: 150px;
  border-radius: 50%;
  background: white;
  height: 150px;
}

.menu-user-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.mv {
  display: none;
}

.menu-user-options button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 45px;
}

.menu-user-options button:hover,
.menu-user-options button.active {
  background-color: #2788b2;
}

.user-intro,
.workinprogress {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.workinprogress h1 {
  width: 80%;
  margin: 4em auto;
  text-align: center;
  margin-bottom: -2em;
  color: #002d5d;
}

.user-intro h1 {
  font-size: 45px;
  color: #002d5d;

  width: 80%;
  text-align: center;
  margin: 0.95em auto 0.5em auto;
}
.user-intro h2 {
  font-size: 30px;
  width: 80%;
  text-align: center;
  margin: 0.5em auto 2em auto;
}

.user-menu-bottom {
  width: 100%;
}
.user-menu-bottom button {
  width: 100%;
  background-color: #2788b2;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  height: 65px;
}

.user-menu-bottom button:hover {
  background-color: #2892c0;
}

.user-profile {
  height: 100%;
}

/*responsive*/
@media screen and (max-width: 1000px) {
  .btn-menu {
    border-radius: 50%;
    border: 2px solid #002d5d;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .close-menu {
    position: absolute;
    color: #fff;
    width: 45px;
    height: 45px;
    background-color: #049bb3;
    z-index: 3;
    font-size: 25px;
    border-radius: 50%;
    border: none;
    right: 20px;
    top: 60px;
  }

  .close-menu:active,
  .close-menu:focus {
    outline: none;
  }
  .user-intro h1 {
    display: none;
  }

  .user-intro h2 {
    margin-bottom: 0.5em;
  }

  .user-intro {
    flex-direction: column-reverse;
    position: relative;
  }
  .user-page-cont.nouser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .user-page-cont.nouser img {
    height: auto;
    width: 80%;
  }
  .user-page-cont section {
    margin: auto;
    margin-top: 0.5em;
    width: 80%;
  }

  .user-page-cont section p {
    font-size: 16px;
  }

  .user-page-cont {
    display: flex;
  }

  .user-page-left {
    position: fixed;
    z-index: 5;
    width: 100% !important;
    /* //transform: translateY( -100%); */
  }

  .mv {
    display: flex;
  }
  .pc {
    display: none;
  }

  .animation-cont {
    margin-top: -2em;
  }
}

@media screen and (max-width: 600px) {
  .user-intro h2 {
    font-size: 20px;
  }

  .user-intro img {
    width: 90%;
    margin: 1em 0;
  }
}
