<div class="page-requests">
  <h1>Solicitudes pendientes</h1>
  <div class="content-requests">
    <ng-container *ngFor="let message of userMessages">
      <div class="card-request">
        <div class="card-image">
          <img src={{message.img_user_send}} />
          <p class="title-published">{{message.name_user_send}}</p>
        </div>
        <p class="text-published">
            {{message.content}}
        </p>
        <div class="card-footer">
          <p class="date-published">{{message.date}}</p>
          <button class="btn-view color-blue-two" (click)="setPostModal(message)">
            Ver
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- show message modal -->
<ng-container *ngIf="showModal">
  <app-modal-message
  [messageReceived]="messageSelected"
   (event)="closeModal()"></app-modal-message>
</ng-container>
