.footer,
.socials-menu,
.contact-menu a {
  display: flex;
}

.footer-item-b,
.footer-item-c {
  flex: 1;
}

.footer {
  padding-bottom: 1em;
}

.footer .logo-cont {
  width: 240px;
}

.footer-item-a,
.footer-item-b,
.footer-item-c {
  padding-bottom: 2em;
}

.footer-item-a {
  flex: 2;
}

.footer-item-a,
.footer-item-b {
  padding-right: 2em;
}

.copyright p {
  font-size: 14px;
  padding-top: 1em;
  border-top: 1px solid #fff;
}

footer {
  padding: 3em 4em 1em;
  background: rgb(1, 118, 170);
  background: linear-gradient(
    0deg,
    rgba(1, 118, 170, 1) 0%,
    rgba(0, 165, 181, 1) 100%
  );
}

footer a {
  text-decoration: none;
}

footer h4 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 1em;
}

footer .socials-menu a {
  margin-right: 1em;
}

footer .contact-menu svg {
  margin-right: 0.5em;
}

footer .socials-menu a:hover  {
 opacity: 0.8;
}

footer h4,
footer a,
.footer p,
.copyright p,
.formulario-registro .button {
  color: #fff;
}

footer .contact-menu li {
  padding-bottom: 0.5em;
}

footer .contact-menu .fa {
  font-size: 16px;
  margin-right: 0.8em;
}

/*responsive*/

@media screen and (max-width: 900px) {
  .footer {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding-bottom: 0em;
  }
}

@media screen and (max-width: 400px) {
  footer {
    padding: 3em 2em 1em;
  }
}
