
    <!--footer-->
    <footer>
        <div class="footer">
          <div class="footer-item-a">
            <img
              src="src/assets/img/logo-care-search-eng.svg"
              class="logo-cont"
              alt="CareSearch"
              title="CareSearch"
            />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="footer-item-b">
            <h4>Contact us</h4>
            <ul class="contact-menu">
              <li>
                <a href="#" target="_blank"
                  ><i class="fa fa-envelope"></i>info@caresearch.com</a
                >
              </li>
              <li>
                <a href="#" target="_blank"
                  ><i class="fa fa-phone"></i>600 000 000</a
                >
              </li>
            </ul>
          </div>
          <div class="footer-item-c">
            <h4>Follow us</h4>
            <ul class="socials-menu">
              <li>
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                      <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                      <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                  </ul>
              </div>
      </div>
      <div class="copyright">
          <p>© Copyright 2022. All rights reserved.</p>
      </div>
      </footer>
      <!--footer-->
