<section class="user-profile-cont">
  <div class="user-profile-edit">
    <form>
      <div class="profile-edit-top">
        <div
          class="personal data-form-cont"
          *ngIf="optionSelected == 'personalData'"
        >
          <h2>Edita tus datos personales</h2>
          <div>
            <label class="label-form" for="nombre">Nombre y Apellidos*</label>
            <input
              type="text"
              name="nombre"
              placeholder="Introduce tu nombre"
              required
              value="{{ namelUser }}"
              [(ngModel)]="namelUser"
              [ngModelOptions]="{ standalone: true }"
              personalData
            />
          </div>

          <div>
            <label class="label-form" for="dni">DNI*</label>
            <input
              type="text"
              name="dni"
              placeholder="Introduce tu DNI"
              required
              [value]="currentUser.dni"
              [(ngModel)]="dniUser"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div>
            <label class="label-form" for="fecha_nacimiento"
              >Fecha de nacimiento*</label
            >
            <input
              type="text"
              name="fecha_nacimiento"
              placeholder="Introduce tu fecha de nacimiento*"
              required
              [(ngModel)]="dateUser"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div>
            <label class="label-form" for="ciudad">Ciudad*</label>
            <input
              type="text"
              name="city"
              placeholder="Introduce tu ciudad*"
              required
              [(ngModel)]="cityUser"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div>
            <label class="label-form" for="ciudad">Calle</label>
            <input
              type="text"
              name="street"
              placeholder="Introduce tu calle"
              [(ngModel)]="streetUser"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div
          class="profesional data-form-cont"
          *ngIf="optionSelected == 'profesionalData'"
        >
          <h2>Edita tus datos profesionales</h2>
          <div>
            <textarea
              [(ngModel)]="descriptionUser"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Háblanos sobre tí..."
              name="about"
            ></textarea>
          </div>

          <div class="profesional-cont">
            <select
              name="city"
              id=""
              [(ngModel)]="categoryUser"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                [value]="currentUser.work"
                disabled
                selected
                style="display: none"
              >
                Selecciona una categoría profesional
              </option>
              <option *ngFor="let work of optionsWorkArr">
                {{ work.name }}
              </option>
            </select>

            <section class="salary-range-cont">
              <label for="formControlValue">
                <span>Escoge un precio</span>
                {{ salaryRange }}€/hora</label
              >
              <input
                type="range"
                min="4"
                max="100"
                step="1"
                class="fsalary-range-input"
                value="10"
                id="formControlRange"
                [ngModel]="priceUser"
                (input)="valueChanged($event)"
              />
            </section>
          </div>
          <select
            name="schedule"
            id=""
            class="schedule-select"
            [(ngModel)]="schedule"
            [ngModelOptions]="{ standalone: true }"
          >
            <option value="" disabled selected style="display: none">
              Selecciona tu disponibilidad horaria
            </option>
            <option *ngFor="let hour of optionsSchedule">
              {{ hour.name }}
            </option>
          </select>

          <input
            id="cv-file"
            name="cv-file"
            type="file"
            class="cv-input"
            [(ngModel)]="cvFile"
            [ngModelOptions]="{ standalone: true }"
          />
          <label for="cv-file" class="cv-label">Adjunta CV</label>
        </div>

        <div
          class="account data-form-cont"
          *ngIf="optionSelected == 'acountData'"
        >
          <h2>Edita los datos de tu cuenta</h2>
          <div>
            <label class="label-form" for="mail">Email</label>
            <input
              type="email"
              placeholder="Introduce tu email"
              [value]="currentUser.email"
              [(ngModel)]="emailUser"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div>
            <label class="label-form" for="mail"
              >Introduce nueva contraseña</label
            >
            <input
              type="password"
              placeholder="*******"
              [value]="currentUser.pass"
              [(ngModel)]="passwordUser"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div>
            <label class="label-form" for="mail">Repite nueva contraseña</label>
            <input
              type="password"
              placeholder="*************"
              [value]="currentUser.pass"
              [(ngModel)]="passwordUserVerify"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>

          <button class="danger-btn">Eliminar Cuenta</button>
        </div>
      </div>
      <div class="profile-edit-bottom">
        <div class="profile-edit-options">
          <button
            [ngClass]="{ active: optionSelected == 'personalData' }"
            (click)="showPersonal()"
          >
            Datos Personales
          </button>
          <button
            *ngIf="currentUser.worker == 'true'"
            [ngClass]="{ active: optionSelected == 'profesionalData' }"
            (click)="showProfesional()"
          >
            Datos Profesionales
          </button>
          <button
            [ngClass]="{ active: optionSelected == 'acountData' }"
            (click)="showAcount()"
          >
            Editar Cuenta
          </button>
        </div>

        <button
          *ngIf="optionSelected == 'personalData'"
          class="btn-save"
          (click)="onEditClick(currentUser.id)"
        >
          Guardar Datos Personales
        </button>
        <button
          *ngIf="optionSelected == 'profesionalData'"
          class="btn-save"
          (click)="onEditClick(currentUser.id)"
        >
          Guardar Datos Profesionales
        </button>
        <button
          *ngIf="optionSelected == 'acountData'"
          class="btn-save"
          (click)="onEditClick(currentUser.id)"
        >
          Guardar Datos Cuenta
        </button>
      </div>
    </form>
  </div>
</section>
