<section class="user-profile-cont">

    <div class="user-profile-edit">
        
        <form>
        <div class="profile-edit-top">

            <div *ngFor="let item of users">
                {{item.id}}
            </div>
          
            <div class="personal data-form-cont " *ngIf="optionSelected == 'personalData'">
                <h2>Edita tus datos personales</h2>
                <div>
                    <label for="nombre">Nombre y Apellidos*</label>
                    <input type="text" name="nombre" placeholder="Introduce tu nombre" required>
                </div>
            
                <div>
                    <label for="dni">DNI*</label>
                    <input type="text"  name="dni" placeholder="Introduce tu DNI" required>
                </div>
                <div>
                    <label for="fecha_nacimiento">Fecha de nacimiento*</label>
                    <input type="text"  name="fecha_nacimiento" placeholder="Introduce tu fFecha de nacimiento*" required>
                </div>
                <div>
                    <label for="ciudad">Ciudad*</label>
                    <input type="text" name="city" placeholder="Introduce tu ciudad*" required>
                </div>
                <div>
                    <label for="ciudad">Calle</label>
                    <input type="text" name="street" placeholder="Introduce tu calle" >
                </div>

            </div>
          
            <div class="profesional data-form-cont" *ngIf="optionSelected == 'profesionalData'">
                <h2>Edita tus datos profesionales</h2>
                <div>
                    <textarea  placeholder="Háblanos sobre tí..." name="about"></textarea>
                </div>
            
                <!-- <div>
                    <label for="dni">Categoría</label>
                    <input type="text" name="category" placeholder="DNI*" required>
                </div> -->

                <div class="profesional-cont">
                <select name="city" id="">
                    <option value="" disabled selected style="display: none">
                      Selecciona una categoría profesional
                    </option>
                    <option *ngFor="let work of optionsWorkArr">
                      {{ work.name }}
                    </option>
                </select>

                <section class="salary-range-cont">
                    <label for="formControlValue">
                        <span>Escoge un precio:</span>
                        {{sliderValue}}€/hora</label>
                    <input type="range" min="4" max="100" step="1" class="fsalary-range-input" value="10" id="formControlRange" (input)="valueChanged($event)">

                </section>
                
                </div>
                <select name="schedule" id="" class="schedule-select">
                    <option value="" disabled selected style="display: none">
                      Selecciona tu disponibilidad horaria
                    </option>
                    <option *ngFor="let hour of optionsSchedule">
                      {{ hour.name }}
                    </option>
                </select>

                <input id="cv-file" name="cv-file" type="file" class="cv-input">
                <label for="cv-file" class="cv-label">Adjunta CV</label>
                
            </div>
           
            <div class="account data-form-cont"  *ngIf="optionSelected == 'acountData'">
                <h2>Edita los datos de tu cuenta</h2>
                <div>
                    <label for="mail">Email</label>
                    <input type="email" placeholder="Introduce tu email">
                </div>
                <div>
                    <label for="mail">Contraseña</label>
                    <input type="password" placeholder="*******">
                </div>
                <div>
                    <label for="mail">Repite tu contraseña</label>
                    <input type="password" placeholder="*************">
                </div>
        

            </div>
           





        </div>
        <div class="profile-edit-bottom">

            <div class="profile-edit-options">
                <button [ngClass]="{ active: optionSelected == 'personalData'}"
                (click)="showPersonal()">
                    Datos Personales
                </button>
                <button [ngClass]="{ active: optionSelected == 'profesionalData'}"
                (click)="showProfesional()">
                    Datos Profesionales
                </button>
                <button [ngClass]="{ active: optionSelected == 'acountData'}"
                (click)="showAcount()">
                    Editar Cuenta
                </button>
            </div>

            <button class="btn-save">Guardar</button>
       
        </div>
    </form>

    </div>

</section>
