@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.d-flex {
  display: flex;
}

.modal{
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100vh;
  transition:background 0.2s ease-in-out;
}
  
.modal .wrapper {
  padding:0 8px;
  width:100%;
  max-width:500px;
  box-sizing:border-box;
  position:absolute;
  top:50%;
  left:50%;
  text-align: center;
  transform:translate(-50%,-50%);
}
  
.modal .message {
    /*-webkit-transition:transform 0.2s ease-in-out;
    -moz-transition:transform 0.2s ease-in-out;
    -ms-transition:transform 0.2s ease-in-out;
    -o-transition:transform 0.2s ease-in-out;
    transition:transform 0.2s ease-in-out;
    will-change: transform;
    background:#FFF;
    
    -webkit-transform:scale(0,0) translateZ(0);
    -moz-transform:scale(0,0) translateZ(0);
    -ms-transform:scale(0,0) translateZ(0);
    -o-transform:scale(0,0) translateZ(0);
    transform:scale(0,0) translateZ(0);*/
    
  padding:22px;
  box-sizing:border-box;
  box-shadow:0 11px 44px rgba(0,0,0,0.4);
  max-width:500px;
  width:100%;
  border-radius:5px;
  overflow:hidden;
  background-color: #fff;
}

.modal .message img {
  width: 100px;
  margin-top: 1em;
}

.modal .message p {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.modal .button {
  border: none;
  font-size: 16px;
  font-weight: 300;
  padding: 0.7em 2.3em;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 100%;
  margin: 1em 0.5em;
}

.bg-blue-one {
  background-color: #00a5b5;
}

.bg-red {
  background-color: #00a5b5;
}