<section class="register-cont">
  <div>
    <div class="card-register">
      <div>
        <h1>Registro</h1>
        <span class="message-error">{{ emptyForm }}</span>
        <span class="message-error">{{ emptyPrivacy }}</span>
        <form class="form-register">
          <div class="btn-profiles">
            <input
              [(ngModel)]="profileUser"
              class="btn-profile"
              type="radio"
              name="profile"
              id="profesional"
              value="1"
            />
            <label class="btn-text" for="profesional" (click)="chekingIfUser()"
              >Soy un profesional</label
            >
            <input
              [(ngModel)]="profileUser"
              class="btn-profile"
              type="radio"
              name="profile"
              id="solicitante"
              value="2"
            />
            <label
              class="btn-text"
              for="solicitante"
              (click)="checkingIfProfessional()"
              >Busco un profesional</label
            >
          </div>
          <input
            type="text"
            [(ngModel)]="emailUser"
            name="email"
            placeholder="Correo electrónico*"
            required
          />
          <input
            type="password"
            [(ngModel)]="passwordUser"
            name="password"
            placeholder="Contraseña*"
            required
          />
          <div class="check-register">
            <div>
              <input
                type="checkbox"
                [(ngModel)]="privacyUser"
                name="privacy"
                value="S"
              />
            </div>
            <p>
              He leído y acepto la
              <a routerLink="/privacy-policy">Política de Privacidad</a>.
            </p>
          </div>
          <button
            type="button"
            class="button color-blue-one"
            (click)="validateAndCreateUserWithCredentials()"
          >
            Confirmar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
