
    
	<section class="register-cont">
		<form class="formulario-registro">
			<input type="text" id="nombre" name="nombre" placeholder="Nombre*" required>
			<input type="text" id="primer_apellido" name="primer_apellido" placeholder="Primer apellido*" required>
			<input type="text" id="segundo_apellido" name="segundo_apellido" placeholder="Segundo apellido*" required>
			<input type="text" id="dni" name="dni" placeholder="DNI*" required>
			<input type="text" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha de nacimiento*" required>
			<select name="sexo" id="sexo" required>
			 	<option disabled selected>Género*</option>
				<option value="hombre">Hombre</option>
				<option value="mujer">Mujer</option>
			</select>
			<input type="email" id="correo_electronico" name="correo_electronico" placeholder="Correo electrónico*" required>
			<input type="text" id="telefono" name="telefono" placeholder="Teléfono*" required>
			<input type="text" id="direccion" name="direccion" placeholder="Dirección*" required>
			<div class="foto-perfil">
				<label for="documento_identidad">Imagen de perfil*</label>
				<input type="file" name="imagen_perfil" id="imagen_perfil">
			</div>
			<input type="submit" id="boton_registrarse" name="boton_registrarse" class="button color-blue-one" value="Confirmar">			
 		</form>
	</section>
