@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 42px;
    color: #002D5D;
    margin-bottom: 10px;
}

.check-register {
    display: flex;
    margin: 10px 0 15px;
}

.check-register a {
    color: #00a5b5;
}

.check-register p {
    font-size: 14px;
    margin-top: 2px;
    font-weight: 300;
}

.check-register div {
    margin-right: 6px;
}

.check-register div input {
    margin: 0px;
}

.mensaje-error {
    color: red;
    font-size: 14px;
    font-weight: 300;
}

/* formulario */

.header-subtitle {
    margin-top: 1em;
}

.register-cont {
    height: 100vh;
    display: flex;
    padding: 10em 0em;
    align-items: center;
    background-size: 150%;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: 30% 0%;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('/assets/img/register.jpg');
}

.card-register {
    padding: 40px;
    width: 450px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);
}

.card-register > div {
    width: 100%;
}

.register-cont > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-registro .foto-perfil label {
    font-size: 14px;
}

.formulario-registro input,
.formulario-registro select {
    flex: 1;
}

.formulario-registro input:nth-of-type(1) {
    margin-top: 10px;
}


.formulario-registro input, .formulario-registro select {
    width: 100%;
    margin: 0.5em 0;
    color: #1b2126;
    font-weight: 300;
    padding: 0.7em 1em;
    border-radius: 8px;
    border: 1px solid rgb(176, 176, 202);
}

.formulario-registro .button {
    border: none;
    font-size: 16px;
    font-weight: 300;
    padding: 0.7em 2.3em;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #323E48;
}

:-moz-placeholder {
    color: #323E48;
}

::-moz-placeholder {
    color: #323E48;
}

:-ms-input-placeholder {
    color: #323E48;
}

.color-blue-one {
    background-color: #00a5b5;
  }
 


/*responsive*/

@media screen and (max-width: 1024px) {

    .register-cont {
        height: auto;
        padding: 8em 0em;
    }
}

@media screen and (max-width: 900px) {

    .register-cont {
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {
    .header-text-cont h1 {
        font-size: 40px;
        margin-bottom: 0em;
    }
}

@media screen and (max-width: 400px) {
    .register-cont {
        padding: 4em 1em;
    }

    .register-cont, .register-cont > div {
        width: 100%;
    }

    .card-register {
        padding: 2em;
    }
}