<section class="register-cont">
  <div>
    <div class="card-register">
      <div>
        <h1>Registro</h1>
        <span class="message-error">{{ emptyForm }}</span>
        <span class="message-error">{{ emptyPrivacy }}</span>
        <form class="form-register" [formGroup]="registerForm">
          <div class="btn-profiles">
            <input formControlName="profileUser" class="btn-profile" type="radio" id="profesional" value="1" (click)="chekingIfUser()" [ngClass]="{'active': profileUser === true}">
            <label class="btn-text" for="profesional">Soy profesional</label>
            <input formControlName="profileUser" class="btn-profile" type="radio" id="solicitante" value="2" (click)="checkingIfProfessional()" [ngClass]="{'active': profileUser === false}">
            <label class="btn-text" for="solicitante">Busco profesional</label>
          </div>
          <div *ngIf="submitted && message.profileUser.errors" class="message-error">
            <div *ngIf="message.profileUser.errors.required">El perfil es obligatorio</div>
          </div>
          <input
            type="text"
            formControlName="nameUser"
            [(ngModel)]="nameUser"
            name="nombre"
            placeholder="Nombre*"
          />
          <div *ngIf="submitted && message.nameUser.errors" class="message-error">
            <div *ngIf="message.nameUser.errors.required">El nombre es obligatorio</div>
            <div *ngIf="message.nameUser.errors.email">El nombre debe ser válido</div>
          </div>
          <input
            type="text"
            formControlName="emailUser"
            [(ngModel)]="emailUser"
            name="email"
            placeholder="Correo electrónico*"
          />
          <div *ngIf="submitted && message.emailUser.errors" class="message-error">
            <div *ngIf="message.emailUser.errors.required">El correo electrónico es obligatorio</div>
            <div *ngIf="message.emailUser.errors.email">El correo electrónico debe ser válido</div>
          </div>
          <input
            type="password"
            formControlName="passwordUser"
            [(ngModel)]="passwordUser"
            name="password"
            placeholder="Contraseña*"
            required
          />
          <div *ngIf="submitted && message.passwordUser.errors" class="message-error">
            <div *ngIf="message.passwordUser.errors.required">La contraseña es obligatorio</div>
            <div *ngIf="message.passwordUser.errors.minlength">La contraseña debería tener como mínimo 6 caracteres</div>
          </div>
          <div class="check-register">
            <div>
              <input
                type="checkbox"
                formControlName="privacyUser"
                [(ngModel)]="privacyUser"
                name="privacy"
                value="S"
              />
            </div>
            <p>
              He leído y acepto la
              <a routerLink="/privacy-policy">Política de Privacidad</a>.
            </p>
          </div>
          <div *ngIf="submitted && message.privacyUser.errors" class="message-error">
            <div *ngIf="message.privacyUser.errors.required">Debes aceptar la Política de Privacidad</div>
          </div>
          <button
            type="button"
            class="button color-blue-one"
            (click)="validateAndCreateUserWithCredentials()"
          >
            Confirmar
          </button>
          <p>¿Tienes cuenta? Puedes iniciar sesión <a routerLink="/login">aquí</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
