.container-no_found_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 180px auto 50px;
}
.cont-no_found_page, .cont-text-no_found_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cont-text-no_found_page p {
  padding: 5px 20px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container-no_found_page img {
  height: 500px;
  
}
.link-go_back {
  color: #049bb3;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.cont-text-no_found_page h1 {
  font-family: "Lato", sans-serif;
  font-family: "Luckiest Guy", cursive;
  font-size: 90px;
  margin: auto;
  color: #002d5d;
  line-height: 0.7em;
}
.cont-text-no_found_page p:nth-of-type(1) {
  color: #002d5d;
  font-size: 32px;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .container-no_found_page {
    width: 1200px;
  }
}
@media screen and (max-width: 900px) {
  .container-no_found_page {
    height: 100%;
    margin: 100px auto 0px;
  }
  .cont-text-no_found_page {
    font-size: 13px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .container-no_found_page img {
    width: 100%;
    height: auto;
  }
  .cont-text-no_found_page p:nth-of-type(1) {
    font-size: 24px;
  }
}