
    <!--benefits-->
    <section class="benefits-cont page-cont" id="benefits">
        <div class="benefits-cont-title">
            <h2>Beneficios</h2>
            <p>
                aquí explicamos los beneficios de utilizar nuestra app 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="benefits-cont-bigbox">
            <div class="benefits-cont-box">
                <div>
                    <img src="./assets/img/calidad.svg" alt="calidad"/>
                </div>
                <div class="benefits-cont-box-title">
                    <h3>Calidad</h3>
                </div>
                <div class="benefits-cont-box-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

            <div class="benefits-cont-box">
                <div>
                    <img src="./assets/img/hogar.svg" alt="hogar"/>
                </div>
                <div class="benefits-cont-box-title">
                    <h3>Hogar</h3>
                </div>
                <div class="benefits-cont-box-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

            <div class="benefits-cont-box">
                <div>
                    <img src="./assets/img/comunicacion.svg" alt="comunicacion"/>
                </div>
                <div class="benefits-cont-box-title">
                    <h3>Comunicación</h3>
                </div>
                <div class="benefits-cont-box-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

        </div>
        <!--</section>-->
    </section>
    <!--benefits-->
