<!--benefits-->
<section class="benefits-cont page-cont" id="benefits">
    <div class="benefits-cont-title">
        <h2>Beneficios</h2>
        <p>
            Hay múltiples beneficios si utiliza nuestra web o app, no cabe duda de que en CareSearch le prestaremos el mejor servicio. A continuación hablaremos de algunos de estos.
        </p>
    </div>
    <div class="benefits-cont-bigbox">
        <div class="benefits-cont-box">
            <div>
                <img src="./assets/img/calidad.svg" alt="calidad" />
            </div>
            <div class="benefits-cont-box-title">
                <h3>Calidad</h3>
            </div>
            <div class="benefits-cont-box-text">
                <p>
                    En CareSearch estamos comprometidos y seguimos estándares que nos permiten ofrecerle un servicio de calidad para encontrar el mejor profesional que se adapte a sus necesidades.
                </p>
            </div>
        </div>

        <div class="benefits-cont-box">
            <div>
                <img src="./assets/img/hogar.svg" alt="hogar" />
            </div>
            <div class="benefits-cont-box-title">
                <h3>Hogar</h3>
            </div>
            <div class="benefits-cont-box-text">
                <p>
                    Para CareSearch, no hay nada más importante que su hogar. La prestación de un servicio siempre es importante y lo es más, cuando la persona recibe los cuidados en su propia casa. Nos adaptamos a cada circunstancia y necesidad formando parte de su hogar.
                </p>
            </div>
        </div>

        <div class="benefits-cont-box">
            <div>
                <img src="./assets/img/comunicacion.svg" alt="comunicacion" />
            </div>
            <div class="benefits-cont-box-title">
                <h3>Comunicación</h3>
            </div>
            <div class="benefits-cont-box-text">
                <p>
                    Le ofrecemos la comunicación más sincera, para nosotros sus problemas son importantes. Trataremos sus consultas y peticiones con la mayor agilidad posible. Una comunicación honesta entre el servicio, los clientes y los profesionales será una de nuestras
                    prioridades.
                </p>
            </div>
        </div>

    </div>
    <!--</section>-->
</section>
<!--benefits-->