<!--*****************************************************************************************************************-->

<div class="search-form {{ resultsList.length === 0 ? 'no-fixed' : '' }}">
  <h1 class="search-title">Encuentra la persona perfecta para tu cuidado</h1>
  <div class="form-inputs-cont">
    <form action="">
      <select name="workOptions" id="" [(ngModel)]="printedOption">
        <option value="" disabled selected style="display: none">
          ¿Qué asistencia necesitas?
        </option>
        <option *ngFor="let work of optionsWorkArr">
          {{ work.name }}
        </option>
      </select>

      <select name="city" id="" [(ngModel)]="selectedOption">
        <option value="" disabled selected style="display: none">
          ¿En qué ciudad?
        </option>
        <option *ngFor="let location of optionsLocationArr">
          {{ location.city }}
        </option>
      </select>
      <div class="form-btn-cont">
        <button (click)="searchResult()" manage class="group-button-menu">
          Buscar
        </button>
        <button
          type="cleanList"
          (click)="cleanList()"
          class="group-button-menu"
        >
          Todos
        </button>
        <button
          type="cleanList"
          (click)="cleanList()"
          class="group-button-menu"
        >
          Quitar filtros
        </button>
      </div>

      <!-- <div class="cost-range">
    <label for="vol">Coste máximo por hora : 6€ - 50€</label>
    <input type="range" id="vol" name="vol" min="0" max="50" />
  </div> -->
    </form>
  </div>
</div>
<!--*****************************************************************************************************************-->

<section class="search-result-cont">
  <ng-container *ngFor="let helper of resultsList; index as i">
    <div *ngIf="helper.name !== ''" class="search-result-item">
      <img [src]="helper.img" alt="" />
      <div class="item-text-cont">
        <!-- <h6 class="score">{{ helper.score }}/5</h6> -->
        <h3><i class="bx bx-health"></i> {{ helper.name }}</h3>
        <h4>{{ helper.job }}</h4>
        <!-- when is a long text -->

        <p *ngIf="helper?.full_info?.length > 150">
          {{ helper?.full_info?.substring(0, 150)
          }}<span
            class="more-info"
            routerLink="/profile"
            (click)="sendHelper(helper.id)"
            >...</span
          >
        </p>
        <!-- when is a short text -->
        <p *ngIf="helper?.full_info?.length <= 150">
          {{ helper.full_info }}
        </p>

        <div class="btn-cont">
          <button (click)="setContactModal(helper)" class="btn-contact">
            Contacto
          </button>

          <button
            routerLink="/profile"
            class="btn-perfil"
            (click)="sendHelper(helper._id)"
            ifLoging="ifLogin"
          >
            Perfil
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- show if users's array is empty -->
  <div
    [ngClass]="{ message: resultsList.length === 0 && pressedSearchButton }"
    *ngIf="resultsList.length === 0 && pressedSearchButton"
  >
    <img [src]="noFoundIllustration" alt="No found ilustration" />
    <h3>
      {{ noMatches }}
    </h3>
  </div>
  <!-- show contact modal -->
  <ng-container *ngIf="showModal && ifLogged.currentUser._id">
    <app-user-contact
      [helper]="helperSelected"
      (event)="closeContact()"
    ></app-user-contact>
  </ng-container>
  <ng-container *ngIf="showModal && !ifLogged.currentUser._id">
    <app-no-user-message (event)="closeContact()"></app-no-user-message>
  </ng-container>
</section>
