 <!--*****************************************************************************************************************-->

 <h1 class="search-title">
    Encuentra la persona perfecta para tu cuidado
</h1>

<form action="" class="search-form">
    <select name="" id="">
    <option value="" disabled selected style="display: none">
      ¿Qué asistencia necesitas?
    </option>
    <option value="">enfermera/o</option>
    <option value="">auxiliar</option>
    <option value="">niñera</option>
    <option value="">asistente</option>
  </select>

    <select name="" id="">
    <option value="" disabled selected style="display: none">
      ¿En qué ciudad?
    </option>
    <option value="">una ciudad</option>
    <option value="">una ciudad</option>
    <option value="">una ciudad</option>
    <option value="">una ciudad</option>
    <option value="">una ciudad</option>
    <option value="">una ciudad</option>
    <option value="">una ciudad</option>
    <option value="">una ciudad</option>
  </select>

    <div class="cost-range">
        <label for="vol">Coste máximo por hora : 6€ - 50€</label>
        <input type="range" id="vol" name="vol" min="0" max="50" />
    </div>
</form>

<!--*****************************************************************************************************************-->

<section class="search-result-cont">
    <div class="search-result-item">
        <img src="./assets/img/helpers/1.jpg" alt="" />
        <div class="item-text-cont">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
            <div>
                <h6>4.5/5</h6>
                <button
                
                class="btn-contact"
                >
                 contact
                </button>
                
                <button
                routerLink="/profile"
                routerLinkActive="active"
                class="btn-perfil" 
               >
          perfil
        </button>

       
            </div>
        </div>
    </div>
    <!-- <div class="search-result-item">
        <img src="./assets/img/helpers/2.jpg" alt="" />
        <div class="item-text-cont">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
            <div>
                <h6>4.5/5</h6>
                <button class="btn-contact" onclick="window.location.href='contactStuff.html'">
          contact
        </button>
                <button class="btn-perfil"
                routerLink="profile"
                routerLinkActive="active">
          perfil
        </button>
            </div>
        </div>
    </div>
    <div class="search-result-item">
        <img src="./assets/img/helpers/3.jpg" alt="" />
        <div class="item-text-cont" onclick="window.location.href='profile.html'">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
            <div>
                <h6>4.5/5</h6>
                <button class="btn-contact" onclick="window.location.href='contactStuff.html'">
          contact
        </button>
                
        <button class="btn-perfil"
                routerLink="profile"
                routerLinkActive="active">
          perfil
        </button>
            </div>
        </div>
    </div>
    <div class="search-result-item">
        <img src="./assets/img/helpers/4.jpg" alt="" />
        <div class="item-text-cont">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
            <div>
                <h6>4.5/5</h6>
                <button class="btn-contact"
                 routerLink="profile"
                 routerLinkActive="active" >
                contact
                </button>
                
                <button class="btn-perfil"
                routerLink="profile"
                routerLinkActive="active">
                perfil
                </button>
            </div>
        </div>
    </div> -->

</section>


