<!--*****************************************************************************************************************-->


<div class="search-form">
  <h1 class="search-title">Encuentra la persona perfecta para tu cuidado</h1>
  <div class="form-inputs-cont">
  <form action="" >
    <select name="workOptions" id="" [(ngModel)]="printedOption">
      <option value="" disabled selected style="display: none">
        ¿Qué asistencia necesitas?
      </option>
      <option *ngFor="let work of optionsWorkArr">
        {{ work.name }}
      </option>
    </select>

    <select name="city" id="" [(ngModel)]="selectedOption">
      <option value="" disabled selected style="display: none">
        ¿En qué ciudad?
      </option>
      <option *ngFor="let location of optionsLocationArr">
        {{ location.city }}
      </option>
    </select>
    <div class="form-btn-cont">
      <button (click)="result()" manage class="group-button-menu">Buscar</button>
      <button type="cleanList" (click)="cleanList()" class="group-button-menu">
        Mostrar todos
      </button>
      <button type="cleanList" (click)="cleanList()" class="group-button-menu">
        Quitar filtros
      </button>
    </div>
   
    <!-- <div class="cost-range">
    <label for="vol">Coste máximo por hora : 6€ - 50€</label>
    <input type="range" id="vol" name="vol" min="0" max="50" />
  </div> -->
  </form>
  
</div>
</div>
<!--*****************************************************************************************************************-->

<section class="search-result-cont">
  <div
    *ngFor="let helper of resultsList; index as i"
    class="search-result-item"
  >
    <img [src]="helper.img" alt="" />
    <div class="item-text-cont">
      <h6 class="score">{{ helper.score }}/5</h6>
      <h3><i class="bx bx-health"></i> {{ helper.name }}</h3>
      <h4>{{ helper.work }}</h4>

      <!-- para cuando el texto es muy largo -->
      <p *ngIf=" helper.info.length>285" >
        {{ helper.info.substring(0,285) }}<span class="more-info"  routerLink="/profile" (click)="sendingId(helper.id)">...</span>
      </p>
       <!-- para cuando el texto es corto -->
      <p *ngIf=" helper.info.length<=285" >
        {{ helper.info }}
      </p>

      
      <div class="btn-cont">
       
        <button
        (click)="setContactModal(helper)"
         class="btn-contact">Contacto</button>

        <button
          routerLink="/profile"
          class="btn-perfil"
          (click)="sendingId(helper.id)"
        >
          Perfil
        </button>
      </div>
    </div>
  </div>
  <div [ngClass]="{ message: resultsList.length === 0 }">
    <img [src]="noFoundIllustration" alt="" />
    <h3 *ngIf="resultsList.length === 0">{{ noMatches }}</h3>
  </div>

  <!-- mostrar el modal de contacto -->
<ng-container *ngIf="showModal">
  <app-user-contact [helper] ="helperSelected"  (event)="closeContact()"></app-user-contact>
</ng-container>



  <!-- <div class="search-result-item">
        <img src="./assets/img/helpers/2.jpg" alt="" />
        <div class="item-text-cont">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
            <div>
                <h6>4.5/5</h6>
                <button class="btn-contact" onclick="window.location.href='contactStuff.html'">
          contact
        </button>
                <button class="btn-perfil"
                routerLink="profile"
                routerLinkActive="active">
          perfil
        </button>
            </div>
        </div>
    </div>
    <div class="search-result-item">
        <img src="./assets/img/helpers/3.jpg" alt="" />
        <div class="item-text-cont" onclick="window.location.href='profile.html'">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
            <div>
                <h6>4.5/5</h6>
                <button class="btn-contact" onclick="window.location.href='contactStuff.html'">
          contact
        </button>
                
        <button class="btn-perfil"
                routerLink="profile"
                routerLinkActive="active">
          perfil
        </button>
            </div>
        </div>
    </div>
    <div class="search-result-item">
        <img src="./assets/img/helpers/4.jpg" alt="" />
        <div class="item-text-cont">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
            <div>
                <h6>4.5/5</h6>
                <button class="btn-contact"
                 routerLink="profile"
                 routerLinkActive="active" >
                contact
                </button>
                
                <button class="btn-perfil"
                routerLink="profile"
                routerLinkActive="active">
                perfil
                </button>
            </div>
        </div>
    </div> -->
</section>
