
 <!--intro-->
<div class="page-cont">
    <section class="intro-cont">
        <div class="intro-cont-a">
            <img src="./assets/img/registrate.svg" alt="registrate"/>
            <p>¿Eres cuidador o cuidadora? Forma parte de nuestra red y estarás disponible para miles de usuarios.</p>
            <a routerLink="register"
            class="button color-blue-one">Regístrate</a>
        </div>
        <div class="intro-cont-b">
            <img src="./assets/img/red.svg" alt="red"/>
            <p>Con CareSearch tienes a tu alcance el contacto de innumerables cuidadores disponibles en tu ciudad.</p>
            <a routerLink="search"
            class="button color-blue-two">Buscador</a>
    </div>
  </section>
</div>
  <!--intro-->