
 <!--intro-->
<div class="page-cont">
    <section class="intro-cont">
        <div class="intro-cont-a">
            <img src="src/assets/img/registrate.svg" />
            <p>
                Are you a caregiver or caregiver? Be part of our network and you will be available to thousands of users.
            </p>
            <a  routerLink="register"
            routerLinkActive="active" 
            class="button color-blue-one">Sign up</a>
        </div>
        <div class="intro-cont-b">
            <img src="src/assets/img/red.svg" />
            <p>
                With CareSearch you have at your fingertips the contact of countless caregivers available in your city.
            </p>
            <a routerLink="search"
            routerLinkActive="active" 
            class="button color-blue-two">Search here</a>
    </div>
  </section>
</div>
  <!--intro-->