<section class="modal" (click)="closeModal()"></section>
<div class="wrapper">
    <div class="message">
        <div *ngIf="novisability">
            <div class="card-image">
                <img src="./assets/img/users/3.jpg">
                <div>
                    <p class="title-published">Maria Candela</p>
                    <p class="date-published">10/05/22</p>
                </div>
            </div>
            <p class="text-published">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="card-footer">
                <button class="btn-answer bg-blue-one" (click)="replyMessage()">Responder</button>
                <button class="btn-delete bg-red" (click)="closeModal()">Descartar</button>
            </div>
        </div>
        <form *ngIf="visability">
            <label for="reply">Responder a Maria Candela</label>
            <textarea id="reply" name="reply" rows="5" cols="33" required></textarea>
            <button class="btn-answer bg-blue-one">Enviar</button>
        </form>
    </div>
</div>
