<section class="wrapper">
    <form class="editar-perfil">
        <div class="cambiar-imagen-perfil text-center">
            <input type="file" [(ngModel)]="photoUser" name="imagen_perfil">
            <i class="bx bxs-camera"></i>
            <img src="./assets/img/illustrations/no_found_illustration_mb.svg">
        </div>
        <div class="d-flex">
            <div class="flex-2">
                <div>
                    <label for="nombre">Nombre*</label>
                    <input type="text" [(ngModel)]="namelUser" name="nombre" placeholder="Nombre*" required>
                </div>
                <div>
                    <label for="primer_apellido">Primer apellido*</label>
                    <input type="text" [(ngModel)]="firstSurnameUser" name="primer_apellido" placeholder="Primer apellido*" required>
                </div>
                <div>
                    <label for="segundo_apellido">Segundo apellido*</label>
                    <input type="text" [(ngModel)]="secondSurnameUser" name="segundo_apellido" placeholder="Segundo apellido*" required>
                </div>
                <div>
                    <label for="dni">DNI*</label>
                    <input type="text" [(ngModel)]="dniUser" name="dni" placeholder="DNI*" required>
                </div>
                <div>
                    <label for="fecha_nacimiento">Fecha de nacimiento*</label>
                    <input type="text" [(ngModel)]="dateUser" name="fecha_nacimiento" placeholder="Fecha de nacimiento*" required>
                </div>
                <div>
                    <label for="genero">Género*</label>
                    <select [(ngModel)]="genreUser" name="genero" required>
                        <option disabled selected>Género*</option>
                        <option value="hombre">Hombre</option>
                        <option value="mujer">Mujer</option>
                    </select>
                </div>
                <div>
                    <label for="correo_electronico">Correo electrónico*</label>
                    <input type="email" [(ngModel)]="emailUser" name="correo_electronico" placeholder="Correo electrónico*" required>
                </div>
            </div>
            <div class="flex-2">
                <div>
                    <label for="telefono">Teléfono*</label>
                    <input type="text" [(ngModel)]="phoneUser" name="telefono" placeholder="Teléfono*" required>
                </div>
                <div>
                    <label for="direccion">Direccion*</label>
                    <input type="text" [(ngModel)]="addressUser" name="direccion" placeholder="Dirección*" required>
                </div>
                <div>
                    <label for="ciudad">Ciudad*</label>
                    <select [(ngModel)]="emailUser" name="ciudad" required>
                        <option disabled selected>Ciudad*</option>
                        <option *ngFor="let location of optionsLocationArr">{{location.city}}</option>
                    </select>
                </div>
                <div>
                    <label for="precio_hora">Precio por hora*</label>
                    <input type="number" [(ngModel)]="priceUser" name="precio_hora" placeholder="Precio por hora*" required>
                </div>
                <div>
                    <label for="categoria">Categoria*</label>
                    <select [(ngModel)]="categoryUser" name="categoria" required>
                        <option disabled selected>Categoria*</option>
                        <option *ngFor="let work of optionsWorkArr">{{work.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="descripcion_personal">Descripción personal*</label>
                    <textarea [(ngModel)]="descriptionUser" name="descripcion_personal" maxlength="140" required=""></textarea>			
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="button color-blue-one" name="boton_registrarse" (click)="save()" value="Guardar">
        </div>
    </form>
</section>