
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav-cont nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00a5b5;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 2em 4em 1em 3em;
}

.nav-cont nav a {
  /* color: #fff; */
  color: #002d5d;
  font-weight: 600;
  text-decoration: none;
  margin-left: 2em;
  transition: color 0.5s;
}
.nav-cont nav a.active{
  color: #00a5b5;
}
.nav-cont nav a:hover {
  color: #00a5b5;
}

.logo-cont {
  width: 240px;
}

.logo-cont a {
  margin-left: 0 !important;
}

/* .logo-cont a img{
   width: 250px;
} */

.menu-cont {
  display: flex;
}
.menu-cont img {
  display: none;
}

.login-cont {
  margin-left: 150px;
}

.close-mv, .menu-mv {
  display: none;
}

/*responsive*/

@media screen and (max-width: 900px) {
  .menu-mv {
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .header-cont {
    position: relative;
  }
  .header-cont nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1075a9;
    width: 180px;
    padding: 3.5em 0;
    border-bottom-left-radius: 25px;
    display: none;
  }
  .header-cont nav::after {
    content: "×";
    position: absolute;
    width: 20px;
    height: 20px;
    font-weight: bolder;
    top: 0.5em;
    left: 0.5em;
    font-size: 22px;
    color: #fff;
    /* background-color: #08a5b6; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .header-cont nav a {
    margin: 0 0 1em 0;
  }
  .menu-cont {
    flex-direction: column;
    margin-top: 2em;
    display: none;
  }

  .menu-cont img{
    display: none;
  }

  .menu-cont.mv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
   left: 0;
   top: 0;
   margin: 0;
    background-color: #fff;
    width: 100%;
  }

  .menu-cont.mv .login-cont,.menu-cont.mv a {
    margin: 0!important;

  }
  .menu-cont.mv a {
   font-size: 18px;
   padding: 20px;

  }

  .menu-cont.mv img{
    width: 220px;
    margin: 7em 0 3em 0;
    display: flex;
    opacity: 0;
    animation: appear 1s forwards;
  }

  .menu-cont.mv .login-cont{
    padding: 40px 50px;
    border-top: 2px solid #0175a8;
    margin-top: 20px!important;
  }


  .close-mv{
    display: block;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


@keyframes appear {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
  
}