

 <!--header-->
    <section class="nav-cont">
        <div class="menu-mv">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255, 1)">
          <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
        </svg>
        </div>
        <nav>
            <div class="logo-cont">
                <img src="./assets/img/logo-caresearch-eng.svg"
                 alt="CareSearch" title="CareSearch"
                 routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" />
            </div>
        
            <div class="menu-cont">
                <a href="#services">Services</a>
                <a href="#benefits">Benefits</a>
                <a href="#contact">Contact</a>
        
                <div class="login-cont">
                    <a 
                    routerLink="login"
                    routerLinkActive="active" 
                    >Login</a>
                </div>
            </div>
        </nav>
    </section>


 