<section class="profile-cont">
    <div class="profile-cont-box">

        <div class="profile-person">
            <img src="./assets/img/helpers/1.jpg" alt="Begoña Benítez Benítez" />
            <h1 class="profile-title">
                Begoña Benítez Benítez
            </h1>
        </div>
        <div class="about-me">
            <h2>Sobre mí</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi placeat laudantium
                inventore pariatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit facere dicta quasi
                placeat laudantium inventore pariatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda obcaecati velit
                facere dicta quasi placeat laudantium inventore pariatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic rem nemo, ad numquam enim, odio temporibus deserunt ratione quod est ab veritatis, distinctio maiores assumenda
                obcaecati velit facere dicta quasi placeat laudantium inventore pariatur!
            </p>
        </div>

        <div class="contacts">
            <h6>Valoración 4.5/5</h6>
            <h5>Precio: 20€/hora</h5>
            <button class="btn-contact">
                contact
            </button>
            <!--<button class="btn-perfil">
                perfil
            </button>-->
        </div>

    </div>
</section>

    <app-footer></app-footer>
