<section class="profile-cont">
  <div class="profile-cont-box">
    <div class="profile-person">
      <img src="{{ helperObje.img }}" alt="helper-photo" />
      <h1 class="profile-title">
        {{ helperObje.name }}
      </h1>
    </div>
    <div class="about-me">
      <h3>
        <small>{{ helperObje.job }} en {{ helperObje.city }}</small>
      </h3>
      <p>{{ helperObje.full_info }}</p>
    </div>

    <div class="contacts">
      <div class="contact-cont">
        <h5>Valoración: {{ helperObje.score }}/5</h5>
        <h5>Precio: {{ helperObje.price }}€/hora</h5>
      </div>
      <button (click)="setContactModal(helperObje)" class="btn-contact">
        Contacto
      </button>
      <button routerLink="/search" routerLinkActive="active" class="btn-perfil">
        Volver
      </button>
    </div>
  </div>
  <ng-container *ngIf="showModal && ifLogged.currentUser._id">
    <app-user-contact
      [helper]="helperSelected"
      (event)="closeContact()"
    ></app-user-contact>
  </ng-container>
  <ng-container *ngIf="showModal && !ifLogged.currentUser._id">
    <app-no-user-message (event)="closeContact()"></app-no-user-message>
  </ng-container>
</section>
