<section class="profile-cont">
  <div class="profile-cont-box">
    <!--  <div class="profile-person">
      <img src="{{ helper.img }}" alt="helper-photo" />
      <h1 class="profile-title">
        {{ helpersArr[0].name }}
      </h1>
    </div>
    <div class="about-me">
      <h3>
        <i>Sobre mí</i> -
        <small>{{ helper.work }} en {{ helpersArr[0].location }}</small>
      </h3>
      <p>{{ helper.info }}</p>
    </div>

    <div class="contacts">
      <h6>Valoración {{ helper.score }}/5</h6>
      <h5>Precio: {{ helper.price }}</h5> -->
    <!--<button class="btn-contact">contacto</button>-->
    <!--    <button routerLink="/search" routerLinkActive="active" class="btn-perfil">
        Volver
      </button>
    </div> -->
    <h1 class="profile-title">
      {{ helperObje[0].name }}
    </h1>
  </div>
</section>
