<!--header-->
<header class="header-cont">
   

    <section class="header-text-cont">
        <h1 class="header-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit
        </h1>

        <p class="header-subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti labore quae quod dignissimos temporibus magni, neque incidunt voluptatem minus
        </p>

        <a href="#contact"><button>Contact Us</button></a>
    </section>
</header>
<!--header-->
<app-intro></app-intro>
<app-services></app-services>
<app-benefits></app-benefits>

<app-footer></app-footer>

