<!--header-->
<header class="header-cont">
   

    <section class="header-text-cont">
        <h1 class="header-title">
            Acercamos profesionales del cuidado a quienes lo necesitan
        </h1>

        <p class="header-subtitle">
            Forma parte de nuestra red de profesionales, o bien encuentra la persona perfecta para tu cuidado o el de tus seres queridos
        </p>

        <a routerLink="register"><button>Regístrate aquí</button></a>
    </section>
</header>
<!--header-->
<app-intro></app-intro>
<app-services></app-services>
<app-benefits></app-benefits>



